/* Melanie Boncaro, ISTE.252 - Web App Style, 3/5/2024 */

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

/* .material-symbols-outlined a {
    text-decoration: none;
    color: #000;
    transition: 150ms ease;
} */

.material-symbols-outlined {
    cursor: pointer;
}

/* Grid Icon to view all */
.view_all {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
/* Heart Icon to view favorites */
.view_favorites {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.favorite {
    transition: font-variation-settings 150ms ease;

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.favorite.selected {
    color: red;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.dropdown {
    transition: transform 300ms ease;
}

/* .favorite.material-symbols-outlined a:hover {
    color: #ff4229;
} */

.container {
    margin: 1rem;
}

#map {
    width: 100%;
    height: 60vh;
    border-radius: 4px;
    /* border: 1px black solid; */
    box-shadow: 2px 2px 6px #00000044;
}

.header h1 {
    margin-bottom: 0;
    font-weight: 800;
}

.header h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.card_holder {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.card_header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

}

.card h3 {
    margin-block: 8px;
}
/* .card p {
    margin-block: 8px;
} */

.card img {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    object-fit: cover;
}

.card {
    flex-grow: 1;
    height: fit-content;
    /* border: 1px black solid; */
    /* border-radius: 4px; */
    /* padding: 8px 16px; */
    transition: 300ms ease;
}


.card .trail_details {
    display: none;
}

.card.open .trail_details{
    display: block;
}

.card.open .dropdown {
    transform: rotate(180deg);
}

.tLocation {
    margin-block: 0 4px;
    font-size: 0.95em;
    color: #898989;
}
.tAddress {
    margin-block: 0;
    font-size: 0.95em;
}
.tDiff {
    color: #24a3ec;
}

.tHours {
    background-color: #ddddddae;
    width: fit-content;
    padding: 2px 4px;
}


/* Larger Screens */
@media screen and (min-width: 600px) {
    .container {
        max-width: 1000px;
    }

    #map {
        height: 250px;
    }

    .card_holder {
        flex-direction: row;
    }

    .card {
        max-width: 400px;
    }

    .card img {
        height: 200px;
    }

    .card_header {
        justify-content: start;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-inline: auto;
    }
}
